body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

h1 {
  padding-top: 50px;
  font-size: clamp(2.5rem, 1.8rem + 3.6vw, 5rem);
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  justify-content: center;
  align-items: center;
}

.img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 10vw;
}

main > p {
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  padding-left: 5vw;
  padding-right: 5vw;
}

img#myth-image {
  display: block;
  border-style: solid;
  border-color: var(--general-border);
  max-height: 50vh;
  max-width: 50vw;
  width: auto;
  height: auto;
  border-radius: 2%;
}

img#constellation-image {
  border-style: solid;
  border-color: var(--general-border);
  padding: 1rem;
  max-height: 45vh;
  max-width: 45vw;
  width: auto;
  height: auto;
  border-radius: 2%;
  background-color: var(--explanation-background);
}

a#continue-button {
  padding-left: 2rem;
  padding-right: 2rem;
}
